:root{
  --bg:#202020;
  --bgSoft:#2d2b42;
  --text:white;
  --textSoft:DEDEDE;
  --btn:white;
}
body{
  background-color:var(--bg);
  color:var(--text);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

a{
  text-decoration: none;
  color:inherit;
}

.container{
  background-color: aqua;
  width:1100px;
  margin:auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
}
